################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Publish
/.vs/kinodrom_bot
/bin
/obj
/appsettings.json
